# ==============================================================================
# Team Stier Autonomous Vehicle Sensor Rules
# Maintainer: Suhyun Lee
# ==============================================================================

# 1. GPS (U-Blox) - All 3 modules use the same ID
KERNEL=="ttyACM*", ATTRS{idVendor}=="1546", ATTRS{idProduct}=="01a9", SYMLINK+="gps", MODE="0666"

# 2. LiDAR (RPLidar S2) - Unit 1
KERNEL=="ttyUSB*", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="de67a055ea82eb1193cb9d8d9693f7bc", SYMLINK+="lidar", MODE="0666"

# 3. LiDAR (RPLidar S2) - Unit 2
KERNEL=="ttyUSB*", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="fc5924fee413ec119e0cf2ef7a109228", SYMLINK+="lidar", MODE="0666"

# 4. IMU (Xsens MTi-3-0L-DK)
KERNEL=="ttyUSB*", ATTRS{idVendor}=="2639", ATTRS{idProduct}=="0300", ATTRS{serial}=="DB8GG04M", SYMLINK+="imu", MODE="0666"

# 5. Webcam (Razer Kiyo Pro) - ATTR{index}=="0" 추가
SUBSYSTEM=="video4linux", ATTRS{idVendor}=="1532", ATTRS{idProduct}=="0e05", ENV{ID_V4L_CAPABILITIES}==":capture:", SYMLINK+="cam", MODE="0666"

# 6. Webcam (Logitech C922)
SUBSYSTEM=="video4linux", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="085c", ATTRS{serial}=="8F25D8AF", ENV{ID_V4L_CAPABILITIES}==":capture:", SYMLINK+="cam_logi", MODE="0666"
