#!/usr/bin/env python

PACKAGE = "safety_supervisor"

from dynamic_reconfigure.parameter_generator_catkin import *


gen = ParameterGenerator()

gen.add("path_step", double_t, 0, "Shared predicted path point spacing (m)", 0.05, 0.01, 5.0)        # defult, min, max
gen.add("path_count", int_t, 0, "Shared predicted path point count", 50, 1, 200)

exit(gen.generate(PACKAGE, "predicted_path_parameters", "PredictedPathParameters"))
