#!/usr/bin/env python

PACKAGE = "safety_supervisor"

from dynamic_reconfigure.parameter_generator_catkin import *


gen = ParameterGenerator()

gen.add("path_width_margin", double_t, 0, "Half corridor width margin (m)", 0.1, 0.0, 5.0)
gen.add("max_check_distance", double_t, 0, "Maximum collision check distance (m)", 10.0, 0.0, 100.0)
gen.add("min_check_distance", double_t, 0, "Minimum collision check distance (m)", 0.7, 0.0, 100.0)
gen.add("lookahead_time", double_t, 0, "Lookahead time for collision checking (s)", 0.6, 0.0, 10.0)
gen.add("roi_speed_curve", double_t, 0, "ROI speed sensitivity curve: positive=low-speed insensitive, negative=low-speed sensitive", 0.5, -1.0, 1.0)
gen.add("detect_count_threshold", int_t, 0, "Consecutive hazard detections required", 2, 1, 100)
gen.add("clear_count_threshold", int_t, 0, "Consecutive safe detections required", 4, 1, 100)
gen.add("stale_clear_count_threshold", int_t, 0, "Consecutive stale cycles required to clear", 2, 1, 100)
gen.add("data_timeout_sec", double_t, 0, "Input freshness timeout (s)", 0.5, 0.0, 10.0)
gen.add("margin_step", double_t, 0, "Per-point corridor margin decay (m)", 0.01, 0.0, 1.0)

exit(gen.generate(PACKAGE, "safety_supervisor_parameters", "SafetySupervisorParameters"))
