<launch>
  <node name="cam_logi" pkg="usb_cam" type="usb_cam_node" output="screen">
    <param name="video_device" value="/dev/cam_logi"/>
    
    <param name="image_width" value="640" />
    <param name="image_height" value="360" />
    <param name="pixel_format" value="yuyv" />
    <param name="framerate" value="30" />
    
    <param name="camera_frame_id" value="cam_logi" />
  </node>

  <node name="logi_setup" pkg="cam" type="logi_setup.sh" output="screen" />
</launch>
